# Виртуальное окружение
venv/
venv_sbert/
env/
ENV/

# Сгенерированные данные (ваши результаты)
data/chroma_db_clean/
data/*.pkl
data/*.json

# Файлы Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db
